:root {
  --main-text: "IBM Plex Mono", monospace, serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-size: 18px;
}


  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
